.body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 35% 60%;
    justify-content: space-around;
    background-color: rgb(227, 222, 222);
    
}

.in4 img{
    width: 100%;
    
}


.in4 h2{
    font-size: 180%;
    margin-top: -10%;
    color: black;
    margin-left: 3%;
    
}


.left-container{
    background-color: white ;
    color: black;
    
}

.ml{
    margin-left: 10px;
}
.mt{
    margin-top: 20px;
}
.item{
    background-color: rgb(63, 175, 151);
}

.right-container{
    background-color: white;
    color: black;
    
}
.bg{
    font-size: 170%;
    padding: 10px ;
}
.front{
    margin: 32px;
}
.fed-time{
    margin: 10px 0;
    color: rgb(45, 155, 140);
}
.footer{
    background-color: rgb(80, 167, 142);
    max-width: 100%;
    height: 150px;
    text-align: center;
    margin-left: 105px;
    margin-right: 105px;
    color: rgb(3, 3, 3);
    padding: 64px 16px;
}

.social > a{
    color: black;
}
@media(min-width: 600px){
    footer{
        width: 100%;
    }
}
